#include <flashinfer/attention/generic/decode.cuh>
#include "batch_decode_config_hip.inc"

using namespace flashinfer;

namespace flashinfer {

template hipError_t
BatchDecodeWithPagedKVCacheDispatched<{{ head_dim_qk }}, {{ pos_encoding_mode }}, {{ variant_name }}, Params>(
    Params params, {{ dtype_o }}* tmp_v,
    float* tmp_s, hipStream_t stream);

};
