[submodule "3rdparty/nvbench"]
	path = 3rdparty/nvbench
	url = https://github.com/NVIDIA/nvbench.git
[submodule "3rdparty/googletest"]
	path = 3rdparty/googletest
	url = https://github.com/google/googletest.git
[submodule "3rdparty/mscclpp"]
	path = 3rdparty/mscclpp
	url = https://github.com/microsoft/mscclpp.git
[submodule "3rdparty/cutlass"]
	path = 3rdparty/cutlass
	url = https://github.com/NVIDIA/cutlass.git
[submodule "3rdparty/composable_kernels"]
	path = 3rdparty/composable_kernels
	url = https://github.com/ROCm/composable_kernel.git
[submodule "3rdparty/spdlog"]
	path = 3rdparty/spdlog
	url = https://github.com/gabime/spdlog.git

