[submodule "3rdparty/cutlass"]
	path = 3rdparty/cutlass
	url = https://github.com/NVIDIA/cutlass.git
[submodule "3rdparty/spdlog"]
	path = 3rdparty/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "3rdparty/cccl"]
	path = 3rdparty/cccl
	url = https://github.com/NVIDIA/cccl.git
[submodule "3rdparty/nixl"]
	path = 3rdparty/nixl
	url = https://github.com/ai-dynamo/nixl.git
