apache-tvm-ffi>=0.1.6,!=0.1.8,!=0.1.8.post0,<0.2
click
einops
ninja
numpy
nvidia-cudnn-frontend>=1.13.0 # would need to update to 1.19.0 for rmsnorm+silu once it's released, or add a version check in the module.
nvidia-cutlass-dsl>=4.3.4
nvidia-ml-py
packaging>=24.2
requests
tabulate
torch
tqdm
