# sdist & wheel
include version.txt
recursive-include include *
recursive-include csrc *
recursive-include 3rdparty/cutlass *

# wheel-only
exclude flashinfer/_build_meta.py

# Unneeded files
prune */__pycache__
global-exclude *.so
