RUNNER_SCOPE=repo
REPO_URL=https://github.com/flashinfer-ai/flashinfer
#LABELS=gpu,sm80
ACCESS_TOKEN=foo-access-token
RUNNER_WORKDIR=/tmp/ci-flashinfer
CI_RUNNER_CACHE_DIR=/data/ci-flashinfer-cache
DISABLE_AUTO_UPDATE=1
EPHEMERAL=1
