#include <flashinfer/attention/hopper/quantization/prefill_sm90.cuh>
#include "batch_prefill_sm90_config.inc"

namespace flashinfer {

{% for same_scheduler_for_all_heads in ["true", "false"] %}
template cudaError_t BatchFP8PrefillWithPagedKVCacheDispatched
    <{{ head_dim_qk }},
     {{ mask_mode }},
     /*USE_SLIDING_WINDOW=*/{{ use_sliding_window }},
     /*SAME_SCHEDULER_FOR_ALL_HEADS=*/{{ same_scheduler_for_all_heads }},
     {{ variant_name }}, PagedParams>(PagedParams& params, bool enable_pdl, cudaStream_t stream);
{% endfor %}

};  // namespace flashinfer
