#pragma once
#include <cuda_bf16.h>
#include <cuda_fp16.h>
#include <cstdint>

using state_t = {{ state_dtype }};
using input_t = {{ input_dtype }};
using weight_t = {{ weight_dtype }};
using matrixA_t = {{ matrixA_dtype }};
using stateIndex_t = {{ stateIndex_dtype }};

constexpr int DIM = {{ dim }};
constexpr int DSTATE = {{ dstate }};
constexpr int NTOKENS_MTP = {{ ntokens_mtp }};
