#include <flashinfer/attention/decode.cuh>
#include "single_decode_config.inc"

using namespace flashinfer;

namespace flashinfer {

constexpr auto use_per_token_head = {{ use_per_token_head }};

template cudaError_t SingleDecodeWithKVCacheDispatched<
    {{ head_dim_qk }}, {{ pos_encoding_mode }}, {{ variant_name }}, Params>(
    Params params, {{ dtype_o }}* tmp,
    cudaStream_t stream);

};
