#include <flashinfer/attention/prefill.cuh>

{% if jit %}
#include "single_prefill_generated_config.inc"
{% else %}
#include <flashinfer/attention/prefill_params.cuh>
#include <flashinfer/attention/variants.cuh>
using Params = SinglePrefillParams<{{ dtype_q }}, {{ dtype_kv }}, {{ dtype_out }}>;
{% endif %}

using namespace flashinfer;

namespace flashinfer {

constexpr auto use_custom_mask = {{ mask_mode }} == MaskMode::kCustom;

template cudaError_t SinglePrefillWithKVCacheDispatched<
    {{ head_dim }}, {{ pos_encoding_mode }}, {{ use_fp16_qk_reduction }}, {{ mask_mode }}, {{ variant_name }}, Params>(
    Params params, {{ dtype_o }}* tmp,
    cudaStream_t stream);

};
